<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
    <link rel="stylesheet" href="./../../static/css/errorPage.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
      rel="stylesheet"
    />
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </head>
  <body>
    <div class="message">
      <h1>ERROR</h1>
      <h2><%= errObj.message %></h2>
      <h3><%= errObj.who %></h3>
      <button onclick="goBack()">Go Back</button>
    </div>
  </body>
</html>
