<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice Board</title>
    <link rel="stylesheet" href="../static/css/utils.css" />
    <link rel="stylesheet" href="../static/css/noticeboard.css" />
  </head>

  <body>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
            <button class="btn left-div-btn">
              <a target="_self" href="/signup.html">Sign Up</a>
            </button>
            <button class="btn left-div-btn">
              <a target="_self" href="/login.html">Login</a>
            </button>
          </div>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <ul class="navbar">
            <li><a target="_self" href="./">Home</a></li>
            <li>
              <a target="_self" href="/timetable.html">TimeTable</a>
            </li>
            <li>
              <a target="_self" href="/noticeboard.html">Notice Board</a>
            </li>
            <li><a target="_self" href="/student.html">Students</a></li>
            <li><a target="_self" href="/to-do.html">To-Do</a></li>
            <li><a target="_self" href="/poll.html">Poll</a></li>
          </ul>
          <div class="right">
            <button class="btn">
              <a target="_self" href="/signup.html">Sign Up</a>
            </button>
            <button class="btn">
              <a target="_self" href="/login.html">Login</a>
            </button>
          </div>
        </nav>
      </header>
      <div class="overlay1 hide">
        <span style="color: wheat" class="close1">CLOSE</span>
        <form action="/deletenotice" method="POST">
          <h3 class="hq">SELECT : <a class="hq-del">DELETE</a> or <a class="hq-edit">EDIT</a></h2>
          <table>
            <tr>
              <td>ONLY CR's CAN EDIT THE NOTICE</td>
            </tr>
            <tr>
              <td>USERID :</td>
              <td>
                <input type="text" name="uid" id="" required />
              </td>
            </tr>
            <tr>
              <td>PASSWORD :</td>
              <td>
                <input type="password" name="password" id="" required />
              </td>
              <td>
                <input type="text" name="nid" value="" class="nid-div hide" />
              </td>
            </tr>
            <tr class="edit hide">
              <td>HEADING :</td>
              <td>
                <input class="edt" type="text" name="heading" id=""  />
              </td>
            </tr>
            <tr class="edit hide">
              <td>CONTENT :</td>
              <td>
                <input class="edt" type="text" name="content" id=""  />
              </td>
            </tr>
          </table>
          <button class="conf bt" style="color: aqua; display: flex" disabled>
            CONFIRM
          </button>
        </form>
      </div>
      <div class="overlay2 hide">
        <div><span style="color: wheat" class="close2">CLOSE</span></div>
        <form action="/addNotice" method="POST">
          <table>
            <tr>
              <td>ONLY CR's CAN ADD THE NOTICES</td>
            </tr>
            <tr>
              <td>USERID :</td>
              <td>
                <input type="text" name="uid" id="" required />
              </td>
            </tr>
            <tr>
              <td>PASSWORD :</td>
              <td>
                <input type="password" name="password" id="" required />
              </td>
            </tr>
            <tr>
              <td>HEADING :</td>
              <td>
                <input type="text" name="heading" id="" required />
              </td>
            </tr>
            <tr>
              <td>CONTENT :</td>
              <td class="optionaddtd">
                <input class="op" type="text" name="content" id="" required />
              </td>
            </tr>
          </table>
          <button class="bt" style="color: aqua; display: flex">
            ATTACH NOTICE
          </button>
        </form>
      </div>
      <main class="inv">
        <div class="notice-board">
          <h1>NOTICE BOARD</h1>
          <ul>
            <% ntdata.forEach((curr,i)=>{ %>
            <div class="notices">
              <li>
                <h3>
                  <%= curr.heading %>
                  <button class="bt del-btn">EDIT</button>
                </h3>
              </li>
              <p>
                <input
                  class="notice_id hide"
                  value="<%= curr._id %>"
                  type="text"
                />
                <%= curr.content %>
              </p>
              <br />
              <hr />
            </div>
            <% }); %>
          </ul>
        </div>
        <div class="divBtn invi">
          <button class="bt ooo">ADD NOTICE</button>
        </div>
      </main>
    </div>
    <script src="../static/js/home.js"></script>
    <script src="./../static/js/noticeboard.js"></script>
  </body>
</html>
