<!DOCTYPE html>
<html lang="en">
<div class="bg">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="./../static/css/utils.css">
  </head>
</html>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          </div>
          <ul class="navbar">
            <li><a target="_self" href="./">Home</a></li>
            <li>
              <a target="_self" href="./timetable.html">TimeTable</a>
            </li>
            <li><a target="_self" href="./noticeboard.html">Notice Board</a></li>
            <li><a target="_self" href="./student.html">Students</a></li>
            <li><a target="_self" href="./to-do.html">To-Do</a></li>
          </ul>
          <div class="right">
            <button class="btn"><a target="_self" href="./signup.html">Sign Up</a></button>
            <button class="btn"><a target="_self" href="./login.html">Login</a></button>
          </div>
        </nav>
      </header>
      <div class="form-container">
        <h1>Login</h1>
        <form action="noaction.php">
          <div class="form-group">
            <input class = "userName" type="text" placeholder="Name of Student">
          </div>
          <div class="form-group">
            <input class = "userEmail" type="email" placeholder="College Email Id">
          </div>
          <div class="form-group">
            <input class = "userPass" type="text" placeholder="Password (byDefault : 1234)">
          </div>
        </form>
        <button class="btn loginBtn">Submit</button>
      </div>
      <!-- ==============MODAL ============== -->
      <!-- Moved to user dashboard -->
      <!-- ==============MODAL END============== -->
    </div>
    <footer style="display: flex; justify-content: center;align-items: center;"class="f">
      <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
    </footer>
<script src="./../static/js/test.js"></script>
<script src="./../static/js/login.js"></script>
</body>

</html>
