<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice Board</title>
    <link rel="stylesheet" href="../static/css/utils.css" />
    <link rel="stylesheet" href="../static/css/noticeboard.css" />
  </head>

  <body>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          </div>
          <ul class="navbar">
            <li><a target="_self" href="./../index.html">Home</a></li>
            <li>
              <a target="_self" href="./timetable.html">TimeTable</a>
            </li>
            <li>
              <a target="_self" href="./noticeboard.html">Notice Board</a>
            </li>
            <li><a target="_self" href="./student.html">Students</a></li>
            <li><a target="_self" href="./to-do.html">To-Do</a></li>
          </ul>
          <div class="right">
            <button class="btn">
              <a target="_self" href="./signup.html">Sign Up</a>
            </button>
            <button class="btn">
              <a target="_self" href="./login.html">Login</a>
            </button>
          </div>
        </nav>
      </header>
      <main>
        <div class="notice-board">
          <h1>NOTICE BOARD</h1>
          <ul>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
            <div class="notices">
              <li><h3>Lorem ipsum dolor sit amet.</h3></li>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
                nostrum itaque porro quia excepturi consectetur accusamus quos
                tempora, maiores rerum illo vero neque ratione quidem,
                recusandae obcaecati exercitationem aliquam earum ea amet.
              </p>
              <br />
              <hr />
            </div>
          </ul>
        </div>
      </main>

      <footer class="flex-all-center">
        <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
      </footer>
    </div>
  </body>
</html>
