<!DOCTYPE html>
<html lang="en">
<div class="bg">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/utils.css">
    <link rel="stylesheet" href="../static/css/signup.css">
  </head>

  <body>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
            <button class="btn left-div-btn">
              <a target="_self" href="/signup.html">Sign Up</a>
            </button>
            <button class="btn left-div-btn">
              <a target="_self" href="/login.html">Login</a>
            </button>
          </div>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <ul class="navbar">
            <li><a target="_self" href="./">Home</a></li>
            <li>
              <a target="_self" href="/timetable.html">TimeTable</a>
            </li>
            <li>
              <a target="_self" href="/noticeboard.html">Notice Board</a>
            </li>
            <li><a target="_self" href="/student.html">Students</a></li>
            <li><a target="_self" href="/to-do.html">To-Do</a></li>
            <li><a target="_self" href="/poll.html">Poll</a></li>
          </ul>
          <div class="right">
            <button class="btn">
              <a target="_self" href="/signup.html">Sign Up</a>
            </button>
            <button class="btn">
              <a target="_self" href="/login.html">Login</a>
            </button>
          </div>
        </nav>
      </header>
    <main>
      <div class="form-container">
        <h1>Sign Up</h1>
        <form  action="/signup.html" method="POST" style="text-align: center;">
          <div class="form-group">
            <input class="inpName" type="text" name = "name"placeholder="Enter Your Name" required>
          </div>
          <div class="form-group">
            <input class = "inpAge" name="age" type="number" placeholder="Enter Your Age" required>
          </div>
          <div class="form-group">
            <input class = "inpEmail" type="email" name = "email"placeholder="Enter College Email Id" required>
          </div>
          <div class="form-group">
            <select class="inpGen" name="gender" required>
              <option  value="" disabled selected><span style="color:black">Enter your gender</span></option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <input class = "inpId" type="text" name = "roll_no" placeholder="Enter Your College ID" required>
          </div>
          <div class="form-group">
            <input class = "pass" type="password" name = "password" placeholder="Password" required>
          </div>
          <button class="btn submit" type="submit">Submit</button>
        </form>
      </div>
    </main>


<footer class="flex-all-center">
  <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
</footer>
</div>

<script src="./../static/js/test.js"></script>
<script src="./../static/js/signup.js"></script>
<script src="./../static/js/home.js"></script>
<!-- <script src="./../static/js/login.js"></script> -->
</body>

</html>
