<!DOCTYPE html>
<html lang="en">
<div class="bg">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/utils.css">
    <link rel="stylesheet" href="../static/css/signup.css">
  </head>

  <body>
    <div class="bg">
    <header class="header">
      <nav>
        <div class="left">
          <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
        </div>
        <ul class="navbar">
          <li><a target="_self" href="./../index.html">Home</a></li>
          <li>
            <a target="_self" href="./timetable.html">TimeTable</a>
          </li>
          <li><a href="./noticeboard.html">Notice Board</a></li>
          <li><a href="./student.html">Students</a></li>
          <li><a href="./to-do.html">To-Do</a></li>
        </ul>
        <div class="right">
          <button class="btn"><a target="_self" href="./signup.html">Sign Up</a></button>
          <button class="btn"><a target="_self" href="./login.html">Login</a></button>
        </div>
      </nav>
    </header>
    <main>
      <div class="form-container">
        <h1>Sign Up</h1>
        <form  action="noaction.php">
          <div class="form-group">
            <input class="inpName" type="text" placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <input class = "inpAge" type="text" placeholder="Enter Your Age">
          </div>
          <div class="form-group">
            <select class="inpGen" name="gender" >
              <option  value="" disabled selected><span style="color:black">Enter your gender</span></option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <input class = "inpId" type="text" placeholder="Enter Your College ID">
          </div>
          <div class="form-group">
            <input class = "pass" type="text" placeholder="Password">
          </div>
        </form>
        <button class="btn submit">Submit</button>
      </div>
    </main>
</div>

<footer class="flex-all-center">
  <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
</footer>

<script src="./../static/js/test.js"></script>
<script src="./../static/js/signup.js"></script>
<!-- <script src="./../static/js/login.js"></script> -->
</body>

</html>
