<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/student.css" />
    <link rel="stylesheet" href="./../static/css/utils.css" />
    <title>Student Info</title>
  </head>
  <body>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          </div>
          <ul class="navbar">
            <li><a target="_self" href="./../index.html">Home</a></li>
            <li>
              <a target="_self" href="./timetable.html">TimeTable</a>
            </li>
            <li><a href="#">Notice Board</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="right">
            <button class="btn">Sign Up</button>
            <button class="btn">Login</button>
          </div>
        </nav>
      </header>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Branch</th>
            <th>Roll No.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30px; padding: 0px">
              <img
                class="user_thumb"
                src="./../static/imgs/student_info_resource/male_icon.ico"
              />
            </td>
            <td>conqryash007</td>
            <td>IT</td>
            <td>B420066</td>
          </tr>
          <tr>
            <td style="width: 30px; padding: 0px">
              <img
                class="user_thumb"
                src="./../static/imgs/student_info_resource/female_icon.ico"
              />
            </td>
            <td>gsk007</td>
            <td>IT</td>
            <td>B420024</td>
          </tr>
          <!-- and so on... -->
        </tbody>
      </table>
    </div>
  </body>
</html>
