<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/student.css" />
    <link rel="stylesheet" href="./../static/css/utils.css" />
    <title>Student Info</title>
  </head>
  <body>
    <div class="bg">
      <header class="header">
        <nav>
          <div class="left">
            <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          </div>
          <ul class="navbar">
            <li><a target="_self" href="./../index.html">Home</a></li>
            <li>
              <a target="_self" href="./timetable.html">TimeTable</a>
            </li>
            <li>
              <a target="_self" href="./noticeboard.html">Notice Board</a>
            </li>
            <li><a target="_self" href="./student.html">Students</a></li>
            <li><a target="_self" href="#">About</a></li>
          </ul>
          <div class="right">
            <button class="btn">Sign Up</button>
            <button class="btn">Login</button>
          </div>
        </nav>
      </header>
      <!--=========================---------------- MODAL--------------================ -->
      <div id="myModal" class="modal hide">
        <div class="modal-content">
          <span class="close">&times;</span>
        </div>
      </div>
      <!--=========================---------------- MODAL - END--------------================ -->

      <!--=========================---------------- TABLE --------------================ -->

      <div class="" id="table-wrapper">
        <div id="table-scroll">
          <table>
            <thead>
              <tr class="text">
                <th class="text"></th>
                <th><span class="text">Name</span></th>
                <th><span class="text">Branch</span></th>
                <th><span class="text">Roll No.</span></th>
              </tr>
            </thead>
            <tbody class="std_list"></tbody>
          </table>
        </div>
      </div>
      <!--=========================---------------- TABLE - END --------------================ -->
    </div>
    <script src="./../static/js/student.js"></script>
  </body>
</html>
