<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../static/css/utils.css">
</head>
<body>
    <header class="header">
        <nav>
          <div class="left">
            <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          </div>
          <ul class="navbar">
            <li><a target="_self" href="./../index.html">Home</a></li>
            <li>
              <a target="_self" href="views/timetable.html">TimeTable</a>
            </li>
            <li><a href="#">Notice Board</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="right">
            <button class="btn">Sign Up</button>
            <button class="btn">Login</button>
          </div>
        </nav>
      </header>
    
      <footer class="flex-all-center">
        <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
      </footer>

</body>
</html>