<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome<UsrName></title>
    <link rel="stylesheet" href="../static/css/userdashboard.css" />
    <link rel="stylesheet" href="../static/css/utils.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="left">
          <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
        </div>
        <ul class="navbar">
          <li><a target="_self" href="./">Home</a></li>
          <li>
            <a target="_self" href="./timetable.html">TimeTable</a>
          </li>
          <li>
            <a target="_self" href="./noticeboard.html">Notice Board</a>
          </li>
          <li><a target="_self" href="./student.html">Students</a></li>
          <li><a target="_self" href="./to-do.html">To-Do</a></li>
        </ul>
        <div class="right">
          <button class="btn">
            <a target="_self" href="./signup.html">Sign Up</a>
          </button>
          <button class="btn">
            <a target="_self" href="./login.html">Login</a>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="top">
        <img src="../static/imgs/student_info_resource/male_img.png" alt="" />
        <div class="info-container">
          <div class="user-info">Name : <%= docs.name %></div>
          <div class="user-info">Age :<%= docs.age %></div>
          <div class="user-info">Password :<%= docs.password %></div>
          <div class="user-info">Roll No. :<%= docs.roll_no %></div>
          <div class="user-info">Email :<%= docs.email %></div>
        </div>
      </div>
      <div class="mid-container">
        <div class="left-container">
          <div class="info-container">
            <div class="user-info">Description:</div>
            <div class="user-info"><%= docs.description %></div>
          </div>
        </div>
        <div class="right-container">
          <div class="info-container">
            <div class="user-info">Skills</div>
            <% docs.skills.forEach((curr){ %>
            <div class="user-info">curr</div>
            <%});%>
            <div class="user-info">Achievements</div>
            <% docs.achievement.forEach((curr){ %>
            <div class="user-info">curr</div>
            <%});%>
            <button id="edit-info-btn">Edit Info</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="flex-all-center">
      <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
    </footer>
  </body>
</html> -->

<!--==========================================================-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome<UsrName></title>
    <link rel="stylesheet" href="../static/css/userdashboard.css" />
    <link rel="stylesheet" href="../static/css/utils.css" />
  </head>

  <body>
    <header class="header">
      <nav>
        <div class="left">
          <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
        </div>
        <ul class="navbar">
          <li><a target="_self" href="./">Home</a></li>
          <li>
            <a target="_self" href="./timetable.html">TimeTable</a>
          </li>
          <li>
            <a target="_self" href="./noticeboard.html">Notice Board</a>
          </li>
          <li><a target="_self" href="./student.html">Students</a></li>
          <li><a target="_self" href="./to-do.html">To-Do</a></li>
        </ul>
        <div class="right">
          <button class="btn">
            <a target="_self" href="./signup.html">Sign Up</a>
          </button>
          <button class="btn">
            <a target="_self" href="./login.html">Login</a>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="first-display">
        <div class="top">
          <img src="../static/imgs/student_info_resource/male_img.png" alt="" />
          <div class="info-container">
            <div class="user-info">
              <span class="heading">Name</span> : <%= docs.name %>
            </div>
            <div class="user-info">
              <span class="heading">Age</span> : <%= docs.age %>
            </div>
            <div class="user-info">
              <span class="heading">Password</span> : <%= docs.password %>
            </div>
            <div class="user-info">
              <span class="heading">Roll No.</span> : <%= docs.roll_no %>
            </div>
            <div class="user-info">
              <span class="heading">Email</span> : <%= docs.email %>
            </div>
          </div>
        </div>
        <div class="mid-container">
          <div class="left-container">
            <div class="info-container">
              <div class="user-info">Description:</div>
              <div class="user-info"><%= docs.description %></div>
            </div>
          </div>
          <div class="right-container">
            <div class="info-container">
              <div class="user-info">Skills</div>
              <% docs.skills.forEach((curr){ %>
              <div class="user-info">curr</div>
              <%});%>
              <div class="user-info">Achievements</div>
              <% docs.achievement.forEach((curr){ %>
              <div class="user-info">curr</div>
              <%});%>
              <button id="edit-info-btn">Edit Info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="second-display hidden">
        <div class="form-group">
          <h1>ENTER THE DETAILS YOU WANT TO EDIT</h1>
          <select class="info" name="">
            <option value="skills">Skills</option>
            <option value="description">Description</option>
            <option value="roll_no">Roll_No</option>
            <option value="password">Password</option>
          </select>
          <input class="info change" type="text" />
          <button class="editBtn">EDIT</button>
          <button class="editBtn" id="show-details">
            SHOW UPDATED DETAILS
          </button>
          <div class="currDet"></div>
        </div>
      </div>
    </main>

    <footer class="flex-all-center">
      <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
    </footer>
    <script src="../static/js/userdashboard.js"></script>
  </body>
</html>
