<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome<UsrName>
    </title>
    <link rel="stylesheet" href="../static/css/userdashboard.css">
    <link rel="stylesheet" href="../static/css/utils.css">
</head>

<body>
    <header class="header">
        <nav>
            <div class="left">
                <img src="./../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
            </div>
            <ul class="navbar">
                <li><a target="_self" href="./../index.html">Home</a></li>
                <li>
                    <a target="_self" href="views/timetable.html">TimeTable</a>
                </li>
                <li><a href="#">Notice Board</a></li>
                <li><a href="#">Students</a></li>
                <li><a href="#">To-Do</a></li>
            </ul>
            <div class="right">
                <button class="btn">Sign Up</button>
                <button class="btn">Login</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="first-display">
            <div class="top">
                <img src="../static/imgs/student_info_resource/male_img.png" alt="">
                <div class="info-container">
                    <div class="user-info heading">Name:</div>
                    <div class="user-info heading">About:</div>
                    <div class="user-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, facere dolor.
                        Enim esse voluptatibus magnam vero consequatur qui pariatur nulla! Quae at fugit repellendus.
                        Voluptate dicta facilis dolorem officiis rem magni excepturi ipsum vel!</div>
                    <div class="user-info heading">Email:</div>
                </div>
            </div>
            <div class="mid-container">
                <div class="left-container">
                    <div class="info-container">
                        <div class="user-info heading">Desc:</div>
                        <div class="user-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim recusandae
                            ipsam doloribus mollitia a provident quidem culpa voluptatem fugit excepturi iusto</div>
                    </div>
                </div>
                <div class="right-container">
                    <div class="info-container">
                        <div class="user-info heading">Skills</div>
                        <div class="user-info">Lorem ipsum dolor sit amet.</div>
                        <div class="user-info heading">Achievements</div>
                        <div class="user-info">Lorem ipsum dolor sit amet.</div>
                        <button id="edit-info-btn">Edit Info</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="second-display">
            <div class="form-group">
                <h1>ENTER THE DETAILS YOU WANT TO EDIT</h1>
                <select class="info" name="">
                    <option value="skills">Skills</option>
                    <option value="description">Description</option>
                    <option value="roll_no">Roll_No</option>
                    <option value="password">Password</option>
                </select>
                <input class="info change" type="text">
                <button class=" editBtn">EDIT</button>
                <button class="editBtn" id="show-details">SHOW UPDATED DETAILS</button>
                <div class="currDet"></div>
            </div>

        </div>
    </main>


    <footer class="flex-all-center">
        <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
    </footer>
    <script src="../static/js/userdashboard.js"></script>
</body>

</html>