.bg {
  position: absolute;
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./../imgs/i2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgb(192, 227, 243);
  background-image: linear-gradient(
    to bottom,
    rgba(234, 235, 240, 0.7),
    rgba(102, 130, 233, 0.7)
  );
  position: relative;
  margin-top: 8vh;
  display: flex;
}
.content p {
  width: 40vw;
  padding: 40px;
  margin: auto;
}

.content img {
  height: 65vh;
  margin: auto;
}

footer {
  height: 12vh;
  background-color: rgb(15, 15, 59);
  color: white;
  font-family: "Roboto Mono", monospace;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  color: white;
  padding: 30px;
  font-size: 20px;
}
.hd1 {
  transform: translateY(-45px);
}
.hd2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img1 {
  display: block;
  margin: 0;
}
.text {
  padding: 2px;
  margin: 0px;
  color: transparent;
  background: #181717;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-shadow: 4px 3px 13px rgba(60, 70, 116, 0.5);
}

.marg {
  margin-bottom: 35vh;
}

@media (max-width: 410px) {
  .head {
    font-size: 30%;
  }
  .hd1 {
    margin-top: 30px;
  }
}

@media (max-width: 280px){
  .head{
    font-size: 40%;
  }
}