@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

body{
    background: url('../imgs/login-bg.jpg');
    background-size: cover;
  
}
.bg{
    width: 80vh;
    height: 50vh;
    /* filter: blur(20px); */
    margin: auto;
    backdrop-filter: blur(10px);
   
}
.form-container{
    margin-top: 20vh;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Baloo Bhai 2', cursive;
   z-index: 2;
}
.form-group{
    padding: 10px;
    backdrop-filter: 15px;
}
.form-group input{
    width: 30vw;
    padding: 10px 0;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 4px;
    color: black;
    background-color: rgb(65, 137, 206);
    display: inline-block;
     box-sizing: border-box;
     box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
     z-index: +20;
     text-align: center;
}

.form-group input::placeholder {
    color: black;
    opacity: 1;
  }
.btn {
    margin: 18px 8px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 12px;
    
    border: 2px solid #0c1575;
    cursor: pointer;
    color: darkblue;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 17px;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  .btn:hover {
    background-color: transparent;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 0 #4f5cec;
  }