@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
.bg {
  height: 100%;
  width: 100%;
  background: url("../imgs/signup-bg.jpg");
  background-size: cover;
}
main {
  margin: auto;
  margin-top: 20px;
  color: white;
  /* backdrop-filter: blur(10px); */
  max-width: 45vw;
  height: 76.5vh;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Baloo Bhai 2", cursive;
  /* backdrop-filter: blur(5px); */
  background-color: rgba(10, 10, 10, 0.404);
}

.form-group {
  padding: 10px;
}
.form-group input {
  width: 40vw;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(65, 137, 206);
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px 2px rgba(21, 21, 21, 0.2);
  z-index: +20;
  text-align: center;
}
.inpGen {
  width: 40vw;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(65, 137, 206);
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px 2px rgba(21, 21, 21, 0.2);
  z-index: +20;
  text-align: center;
}
.btn {
  font-family: "Baloo Bhai 2", cursive;
  background-color: rgb(17, 45, 71);
}
.form-container .btn:hover {
  background-color: rgb(39, 107, 170);
  transform: scale(1.1);
  box-shadow: 2px 2px 10px 0 #4f5cec;
}
.form-group input::placeholder {
  color: black;
  opacity: 1;
}
