/* table styling */
table {
  border-collapse: collapse;
  margin: auto;
  /* margin-left: 38vw; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 50%;
  box-shadow: 0px 0px 25px rgba(221, 7, 157, 0.349);
  background-color: rgba(36, 36, 37, 0.685);
}
p {
  display: inline;
}
/*-------------------------*/
#table-wrapper {
  position: relative;
}
#table-scroll {
  height: 450px;
  overflow: auto;
  margin-top: 20px;
}

/*-------------------------*/
table thead tr {
  background-color: rgba(37, 36, 36, 0.164);
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
}
table tbody tr {
  color: wheat;
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #dad6d615;
}
table tbody tr:nth-of-type(odd) {
  background-color: #99939317;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
/* ================================ */

body,
html {
  height: 100%;
  margin: 0px;
}
.bg {
  background-image: url("../imgs/students-bg4.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user_thumb {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  padding: 5px;
}

/*===============MODAL======================*/
.hide {
  display: none;
  height: 0;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(236, 4, 4, 0.39);
  background-color: rgba(0, 0, 0, 0.116);
}

.modal-content {
  color: wheat;
  text-align: center;
  background-color: rgba(36, 36, 37, 0.685);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 40%;
  height: 70%;
  margin-top: 10px;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.student-img {
  height: 35%;
  width: 30%;
  display: block;
  margin: auto;
  padding: 10px;
}
@media (max-width: 850px) {
  #table-wrapper {
    margin-top: 3vh;
    position: relative;
  }
  #table-scroll {
    height: 50vh;
  }
  table {
    width: 100%;
  }
  .modal-content {
    width: 90%;
  }
}
