@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Ewert&family=Frijole&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
body,
html {
  height: 100%;
  margin: 0px;
}
.bg {
  background-image: url("./../imgs/6.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-family: sans-serif;
}

.head {
  color: white;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: "Average", serif;
  padding: 1px;
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 8px;
}

table {
  font-family: EB Garamond, serif;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  width: 95%;
  border-collapse: separate;
  border-spacing: 7px 16px;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 15px;
  opacity: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

.intv {
  padding: 0px;
  margin: 0px;
  opacity: 80%;
  background-color: rgb(58, 56, 56);
  transition: all 0.5s ease-in-out;
  transform: scale(0.98);
  /* transition-delay: 2s; */
}
.intv:hover {
  padding: 0px;
  transform: scale(1);
  margin: 0px;
  opacity: 95%;
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
  font-size: 30px;
}

.glow {
  transition: all 0.2s ease-in-out;
  border: 3px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #79c0fa;
  box-shadow: 0 0 20px #067fe2;
}

.block:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(10, 10, 10, 0.801);
  opacity: 95%;
  border: 2px solid #3700ff;
  border-radius: 7px;
  border-color: #79c0fa;
  box-shadow: 0 0 20px #067fe2;
}

@media only screen and (max-width: 1087px) {
  .head {
    display: inline;
    margin: auto;
  }
  table {
    width: 100%;
    overflow: auto;
    margin: 0;
    border-spacing: 0;
  }
}
