@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
main {
  color: tan;
  height: 100%;
}
.first-display {
  background: #141e30;
}

.heading {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}
.top {
  height: 35vh;
  display: flex;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: nowrap;
  justify-content: center;
}
.top .info-container {
  margin-left: 17vw;
  width: 50%;
  max-width: 60vw;
  height: 30vh;
  margin-top: 13px;
  /* font-family: "Baloo Bhai 2", cursive; */
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.466); */
}
.top .user-info {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mid-container {
  display: flex;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background-size: cover;
  height: 48vh;
}
.left-container {
  width: 40%;
  float: left;
  text-align: center;
}
.left-container .info-container {
  margin-top: 60px;
  overflow: auto;
  height: 40vh;
}

.info-container {
  margin-top: 13vh;
  /* margin: 13vh 20px; */
  margin: 20px 45px;
}
.info-container .user-info {
  padding-left: 20px;
  padding: 5px;
  background-color: rgba(122, 120, 120, 0.246);
}

.right-container {
  width: 70%;
}

.right-container .info-container {
  text-align: center;
  width: 78.5%;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 45vh;
}

.right-container #edit-info-btn {
  background: linear-gradient(to bottom, tan 5%, #212222 100%);
  background-color: #475451;
  border-radius: 10px;
  border: 2px solid #089168;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 11px;
  text-decoration: none;
  margin-top: 10px;
  transition: 0.2s;
}
.right-container #edit-info-btn:hover {
  background: linear-gradient(to bottom, #212222 5%, tan 100%);
  background-color: #2d8585;
  transform: scale(1.1);
}
.right-container #edit-info-btn:active {
  position: relative;
  top: 1px;
}

.sty {
  background: linear-gradient(to bottom, tan 5%, #212222 100%);
  background-color: #475451;
  border-radius: 10px;
  border: 2px solid #089168;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 11px;
  text-decoration: none;
  margin-top: 10px;
  transition: 0.2s;
}
.sty:hover {
  background: linear-gradient(to bottom, #212222 5%, tan 100%);
  background-color: #2d8585;
  transform: scale(1.1);
}
sty:active {
  position: relative;
  top: 1px;
}

.hidden {
  display: none;
}
main .input-field {
  height: 25px;
  width: 30vw;
}

/* ================== Second Display========================================== */

.second-display {
  text-align: center;
  height: 100%;
  margin-bottom: 20vh;
  margin-top: 10vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  height: 60vh;
  color: tan;
  background-color: rgba(122, 120, 120, 0.294);
  margin: auto;
  overflow: auto;
}

input {
  background-color: rgba(0, 128, 128, 0.479);
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 312px) {
  input {
    width: 100%;
  }
  .sty {
    padding: 2px;
  }
}
@media only screen and (max-width: 530px) {
  .top img {
    height: 50%;
    margin-top: 34px;
  }
  .first-display {
    background-color: rgba(122, 120, 120, 0.294);
  }
  .top .info-container {
    background-color: rgba(122, 120, 120, 0.294);
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .info-container {
    margin: 5px;
    border-radius: 10px;
  }
  .right-container .info-container {
    width: 100%;
    text-align: left;
  }
  .top .user-info {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
