* {
  margin: 0;
  padding: 0;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  height: 12vh;
}
.left img {
  border-radius: 10px;
  margin: 10px;
  height: 80%;
  width: 80%;
}
.navbar {
  height: 5vh;
  width: 70%;
  margin: 15px 0;
  padding-left: 0;
  display: flex;
}
.navbar li {
  list-style: none;
  padding: 5px 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
  text-shadow: 5px 5px 15px rgb(51, 39, 219);
}
.right{
  margin-right: 5%;
  width: 25%;
}

.btn {
  margin: 15px 8px;
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid #e2e3ec;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  transition: all 0.2s;
}


.btn:hover {
  background-color: transparent;
  transform: scale(1.1);
  box-shadow: 2px 2px 10px 0 #4f5cec;
}

.header {
  background-color: rgba(65, 63, 63, 0.281);
}

footer {
  height: 8vh;
  background-color: rgba(6, 6, 66, 0.5);
  color: white;
  font-family: "Roboto Mono", monospace;
}

.toggle-button {
  /* color: white; */
  position: absolute;
  margin-top: 20px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: +20;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


@media (max-width: 825px){
  
  .navbar {
    margin-top: 12vh;
    height: fit-content;
    display: none;
    width: 170vw;
    background-color: rgba(65, 63, 63, 0.281);
    margin-left: -10%;

}
.right{
  display: none;
}
  .toggle-button {
    display: flex;
}
.navbar ul {
    width: 100%;
    flex-direction: column;
    
}
.navbar ul li {
    text-align: center;
    
}

.navbar ul li a {
    padding: .5rem 1rem;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
  font-size: 90%;
  padding: 10px 10px;
}
.hd1{
  margin-top: 40px;
}
}


@media (max-width: 410px){
  .navbar {
    margin-top: 12vh;
    height: fit-content;
    display: none;
    width: 126vw;
    background-color: rgba(65, 63, 63, 0.281);
    background-size: 100%;
    margin-left: -21%;

}
.right{
  display: none;
}
  .toggle-button {
    display: flex;
}
.navbar ul {
    width: 100%;
    flex-direction: column;  
}
.navbar ul li {
    text-align: center;
}

.navbar ul li a {
    padding: .5rem 1rem;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
  font-size: 52%;
}
.hd1{
  margin-top: 30px;
}

}